.services {
  .service-cont {
    padding: 80px 80px;
    background: #fff;
    display: grid;
    // 4 equal columns
    grid-template-columns: repeat(4, 1fr);
    column-gap: 55px;
    row-gap: 55px;
    border-radius: 0 150px 0 150px;
    box-shadow: var(--shadow);
  }
  // OUR SERVICES

  .service-intro {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
      font-size: 42px;
      line-height: 1.05;
      font-weight: 600;
      color: var(--accent);
      text-shadow: 4px 4px 0px #dce5ff;
    }

    p {
      max-width: 550px;
      color: var(charcoal);
      font-size: 20px;
      line-height: 1.75;
      font-weight: 400;
    }
  }
}
// SERVICE ITEM

.service__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .service__icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 28px;
    // Blue
    &--blue {
      color: #182b8c;
      background: #dce6ff;
    }

    // Orange
    &--orange {
      color: #986017;
      background: #ffeadc;
    }

    // Green
    &--green {
      color: #159447;
      background: #dcfae7;
    }

    // Purple
    &--purple {
      color: #75169b;
      background: #eed9ff;
    }

    // Red
    &--red {
      color: #a65337;
      background: #ffdada;
    }
  }

  .ser-title {
    font-size: 24px;
    line-height: 1.05;
    font-weight: 500;
    color: var(--accent);
    text-shadow: 4px 4px 0px #dce5ff;
  }

  p {
    max-width: 330px;
    color: var(--charcoal);
    font-size: 18px;
    line-height: 1.8;

    font-weight: 400;
  }
}
// TABLET

@media (max-width: 1100px) {
.services{

  .service-cont{
    border-radius: 10px;
    padding:40px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
}
@media (max-width: 600px) {
.services{

  .service-cont{
    display: flex;
    flex-direction: column;
  }
}
}