.about-parent {
  .about-cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .top-side {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .heading {
        font-size: 50px;
        line-height: 1.05;
        font-weight: 600;
        color: var(--accent);
        // text-shadow: 4px 4px 0px #dce5ff;
      }
      .desc {
        font-size: 22px;
        color: var(--charcole);
        line-height: 28px;
      }
    }

    .bottom-side {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      .card {
        display: flex;
        gap: 10px;
        background: white;
        box-shadow: var(--shadow);
        flex-direction: column;
        border-radius: 20px;
        padding: 20px;
        img {
          width: 100px;
        }
        .card-heading {
          font-size: 24px;
          line-height: 1.05;
          font-weight: 600;
          color: var(--accent);
          // text-shadow: 4px 4px 0px #dce5ff;
        }
        .card-desc{
            font-size:18px;
            color:var(--charcole);
            line-height: 28px;
        }
      }
    }
  }
}

@media only screen and (max-width:1000px){
  .about-parent{
    .about-cont{
     .bottom-side{
      flex-wrap: wrap;
     }
    }
  }
}
@media only screen and (max-width:600px){
  .about-parent{
    .about-cont{
      .top-side{
        .heading{
          font-size:40px;
        }
        .desc {
            font-size: 18px;
          }
      }
    }
  }
}